{{define "top"}}
    <div class="topPage">
        <img class="faImage mainImage" style="float: right; height: 125px; width: 150px;" src="/public/facs.jpeg"
             onerror="this.onerror=null;this.src='/public/default.png';"
             alt="public/default.png">
        <img class="mainImage" src="/public/AFC.png" alt="public/AFC.png"
             onerror="this.onerror=null;this.src='/public/default.png';">
        <header><h1>AFC ALDERMASTON</h1></header>
    </div>
    <nav class="navbar is-danger" role="navigation" aria-label="main navigation" id="navbarMain">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger is-hoverable" aria-label="menu" aria-expanded="false"
               data-target="navbarPrimary">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarPrimary" class="navbar-menu">
            <div class="navbar-start">
            </div>
        </div>
    </nav>
{{end}}