{{define "title"}}Maintenance Outage{{end}}
{{define "content"}}
    <div class="welcomeBackground">
        <h2 class="welcomeHeader">Maintenance Outage</h2>
        <p class="welcome">We are currently performing maintenance, and we apologise for the inconvenience.</p>
    </div>
{{end}}