{{define "title"}}Error{{end}}
{{define "content"}}
    <main>
        <div class="welcomeBackground">
            <h2 class="welcomeHeader">An error occurred</h2>
            <p class="welcome">Error code: <code>{{.Code}}</code><br><br>
                We apologise for the inconvenience but the following error has occurred: <code>{{.Error}}</code></p>
        </div>
    </main>
{{end}}