{{define "title"}}404 Not found{{end}}
{{define "content"}}
<div class="welcomeBackground">
    <h2 class="welcomeHeader">404 Page not found</h2>
    <p class="welcome">You have come to a page that doesn't exist!<br><br><br></p>
</div>
{{end}}