<!DOCTYPE html>
<html>
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
        <link rel="manifest" href="/public/site.webmanifest">
        <link rel="shortcut icon" href="/public/favicon.ico">
        <meta name="msapplication-TileColor" content="#fc0f2b">
        <meta name="msapplication-config" content="/public/browserconfig.xml">
        <meta name="theme-color" content="#fc0f2b">
        <link href="/public/font-awesome.min.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta name="keywords" content="afc,A.F.C.,AFC,aldermaston,football">
        <meta name="description" content="AFC Aldermaston Football Club website">
        <meta name="abstract" content="AFC Aldermaston">
        <meta http-equiv="Content-Language" content="EN-GB">
        <meta name="author" content="BSWDI">
        <meta name="distribution" content="Global">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="copyright"
              content="© Copyright 2020 - {{.Year}}, AFC Aldermaston, website provided by BSWDI">
        <script src="/public/lazy.js"></script>
        <script src="https://bulma.io/vendor/js.cookie-2.1.4.min.js"></script>
        <script src="https://bulma.io/lib/main.js?v=202310021431"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <link href="/public/stylesheet.css" rel="stylesheet">
        <title>Official website of AFC Aldermaston - {{block "title" .}}A page{{end}}</title>
        {{block "header-style" .}}{{end}}
    </head>
<body>
    {{block "top-block" .}}
        {{template "top" .}}
    {{end}}
    {{block "content-block" .}}
        {{template "content" .}}
    {{end}}
    {{block "footer-block" .}}
        {{template "footer" .}}
    {{end}}
</body>
</html>
