<!DOCTYPE html>
<html>
    <head>
{{/*        <link href="{{block "cssFile" .}}public/style.css{{end}}" rel="stylesheet" type="text/css">*/}}
        <link href="public/AFC.ico" rel="icon" type="image/x-icon"/>
        <link rel="apple-touch-icon" sizes="256x256" href="public/AFC-256.png">
        <link href="public/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="public/stylesheet.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="keywords" content="afc,A.F.C.,AFC,aldermaston,football">
        <meta name="description" content="AFC Aldermaston Football Club website">
        <meta name="abstract" content="AFC Aldermaston">
        <meta http-equiv="Content-Language" content="EN-GB">
        <meta name="author" content="BSWDI">
        <meta name="distribution" content="Global">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="copyright"
              content="© Copyright 2020 - {{.Year}}, AFC Aldermaston, website provided by BSWDI">
        <script src="public/lazy.js"></script>
        <script src="https://bulma.io/vendor/js.cookie-2.1.4.min.js"></script>
        <script src="https://bulma.io/lib/main.js?v=202310021431"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <title>Official website of AFC Aldermaston - {{block "title" .}}A page{{end}}</title>
        {{block "header-style" .}}{{end}}
    </head>
<body>
    {{block "top-block" .}}
        {{template "top" .}}
    {{end}}
    {{block "content-block" .}}
        {{template "content" .}}
    {{end}}
    {{block "footer-block" .}}
        {{template "footer" .}}
    {{end}}
</body>
</html>
