{{define "footer"}}
    <div class="socialBar">
        <a href="https://www.facebook.com/AFC-Aldermaston-114651238068/"
           aria-label="AFC Aldermaston Facebook link" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://x.com/afcaldermaston"
           aria-label="AFC Aldermaston Twitter (X) link" target="_blank">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </div>
    <footer>
        {{if ne .User.ID 0}}<small>Visitor count: {{.VisitorCount}}</small><br>{{end}}
        <small>&copy; Copyright 2020 - {{.Year}}, AFC Aldermaston, website provided by <a
                    href="https://bswdi.co.uk"
                    style="text-decoration: underline; font-weight: 900;"
                    target="_blank">BSWDI</a></small>
    </footer>
{{end}}