{{define "footer"}}
    <div class="socialBar">
        <a href="https://www.facebook.com/AFC-Aldermaston-114651238068/" class="fa fa-facebook"
           aria-label="AFC Aldermaston Facebook link" target="_blank"></a>
        <a href="https://x.com/afcaldermaston"
           class="fa fa-twitter" aria-label="AFC Aldermaston Twitter (X) link" target="_blank"></a>
    </div>
    <footer>
        <img src="https://hitwebcounter.com/counter/counter.php?page=7737765&style=0024&nbdigits=5&type=ip&initCount=0" title="Free Counter" Alt="web counter" border="0" class="lazy" data-src="https://hitwebcounter.com/counter/counter.php?page=7737765&style=0024&nbdigits=5&type=ip&initCount=0" {{if eq .User.ID 0}}style="visibility: hidden;"{{end}} /><br>
        <small>&copy; Copyright 2020 - {{.Year}}, AFC Aldermaston, website provided by <a
                    href="https://bswdi.co.uk"
                    style="text-decoration: underline; font-weight: 900;"
                    target="_blank">BSWDI</a></small>
    </footer>
{{end}}