{{define "top"}}
    <div class="topPage">
        <img class="faImage mainImage" style="float: right; height: 125px; width: 150px;" src="/public/facs.jpeg"
             onerror="this.onerror=null;this.src='/public/default.png';"
             alt="public/default.png">
        <img class="mainImage" src="/public/AFC.png" alt="public/AFC.png"
             onerror="this.onerror=null;this.src='/public/default.png';">
        <header><h1>AFC ALDERMASTON</h1></header>
    </div>
    <nav class="navbar is-danger" role="navigation" aria-label="main navigation" id="navbarMain">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger is-hoverable" aria-label="menu" aria-expanded="false"
               data-target="navbarPrimary">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarPrimary" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/teams">
                    Teams
                </a>
                <a class="navbar-item" href="/news">
                    News
                </a>
                <a class="navbar-item" href="/whatson">
                    What's On
                </a>

                <a class="navbar-item" href="/gallery">
                    Gallery
                </a>

                <a class="navbar-item" href="/documents">
                    Documents
                </a>

                <a class="navbar-item" href="/programmes">
                    Programmes
                </a>

                <a class="navbar-item" href="/sponsors">
                    Sponsors
                </a>

                <a class="navbar-item" href="/info">
                    Info
                </a>

                <a class="navbar-item" href="/contact">
                    Contact
                </a>
            </div>

            <div class="navbar-end">
                {{if and (ne .User.ID 0) (ne .User.Role "Manager")}}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            {{if or (eq .User.Role "Club Secretary") (or (eq .User.Role "Chairperson") (eq .User.Role "Webmaster"))}}
                            <a class="navbar-item" href="/users">
                                Users
                            </a>{{end}}
                            <a class="navbar-item" href="/players">
                                Players
                            </a>
                            <a class="navbar-item" href="/account">
                                Account
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" onclick="logoutModal()">
                                Logout
                            </a>
                        </div>
                    </div>
                    {{template "logoutModal" .}}
                {{else}}
                    <a class="navbar-item" onclick="loginModal()">
                        Login
                    </a>
                    {{template "loginModal" .}}
                {{end}}
            </div>
        </div>
    </nav>
{{end}}