{{define "title"}}Account{{end}}
{{define "content"}}
    <main class="main" style="text-align: center;">
        <div class="pageHeaderBanner">
            <h2 class="pageHeader">
                Account</h2>
        </div>
        <h1 style="margin: 20px 0;">Your account details</h1>
        <p style="color: green; padding: 0; margin: 0;">${passwordchanged}</p>
        <p style="color: red; padding: 0; margin: 0;">${error}</p>
        <h2>Name</h2>
        {{ .User.Name }}
        <h2>Email</h2>
        {{ .User.Email }}
        <h2>Role</h2>
        {{ .User.Role }}
        <h2>Change password</h2>
        <div class="button" id="container">
            <div id="translate"></div>
            <a href="changepassword" style="text-decoration: underline;">Change password</a>
            {{if .Context.Message}}
                <div class="notification {{.Context.MsgType}}">{{.Context.Message}}</div>
            {{end}}
        </div>
    </main>
{{end}}