{{define "title"}}Account{{end}}
{{define "content"}}
    <main class="main" style="text-align: center;">
        <h1 style="margin: 20px 0;">Your account details</h1>
        <p style="color: green; padding: 0; margin: 0;">${passwordchanged}</p>
        <p style="color: red; padding: 0; margin: 0;">${error}</p>
        <h2>Name</h2>
        {{ .PageData.User.Name }}
        <h2>Email</h2>
        {{ .PageData.User.Email }}
        <h2>Role</h2>
        {{ .PageData.User.Role }}
        <h2>Change password</h2>
        <div class="button" id="container">
            <div id="translate"></div>
            <a href="changepassword" style="text-decoration: underline;">Change password</a>
        </div>
        <p style="z-index: -1; opacity: 0; float: left; width: 96%;">AFC</p>
    </main>
{{end}}