{{define "title"}}Contact{{end}}
{{define "content"}}
    <main class="main" style="padding: 10px; text-align: center;">
        <div class="flexContainer">
            {{range .ContactUsers}}
                <div class="listItemContact" style="display: inline-block; float: none;">
                    <div style="height: 200px;">
                        <img src="/download?s=u&id={{.ID}}" alt="/public/AFC.png"
                             onerror="this.onerror=null;this.src='/public/AFC.png';"
                             style="padding: 5px; max-height: 200px;">
                    </div>
                    <p>{{.Name}}<br>
                        {{.Role}}<br>
                        {{.Email}}</p>
                </div>
            {{end}}
        </div>
        <div style="width: 100%; background-color: white; text-align: center; padding: 10px 0 10px 0; margin: 10px 0 10px 0; display: block; float: left;">
            <b>IF YOU ARE USING A SATNAV THEN PUT IN THE POSTCODE: <span
                        style="text-decoration: underline">RG26 4QP</span><br>THE POSTCODE LISTED TAKES YOU SOME
                DISTANCE AWAY</b></div>
        <br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8939.983502968527!2d-1.1655729266615455!3d51.361551652298395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876a0226ede6355%3A0xefc85c4cd2bbf09b!2sAldermaston%20Recreational%20Society!5e1!3m2!1sen!2suk!4v1587086773128!5m2!1sen!2suk"
                width="100%" height="500" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
    </main>
{{end}}