{{define "title"}}Gallery{{end}}
{{define "header-style"}}
    <style>
        .row > .column {
            padding: 8px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .column {
            float: left;
            width: 25%;
        }

        /* The Modal (background) */
        .imageModal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: black;
        }

        /* Modal Content */
        .imageModal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            width: 90%;
            max-width: 1200px;
        }

        /* The Close Button */
        .close {
            color: white;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }

        .mySlides {
            display: none;
        }

        .cursor {
            cursor: pointer;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        .prev {
            left: 0;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #888;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        img {
            margin-bottom: -4px;
        }

        .caption-container {
            text-align: center;
            background-color: black;
            padding: 2px 16px;
            color: white;
        }

        .demo {
            opacity: 0.6;
        }

        .active,
        .demo:hover {
            opacity: 1;
        }

        img.hover-shadow {
            transition: 0.3s;
        }

        .hover-shadow:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .mySlides {
            background-color: black;
        }
    </style>
{{end}}
{{define "content"}}
    {{$priv := and (ne $.User.ID 0) (ne $.User.Role "Manager")}}
    <main class="main" style="box-sizing: border-box; text-align: center">
        <div class="pageHeaderBanner">
            <h2 class="pageHeader">
                Gallery</h2>
            {{if $priv}}
                <div style="margin: 15px 0 15px 0">
                    <a class="button is-info" onclick="addImageModal()">Add Image</a>
                </div>
                {{if .Context.Message}}
                    <div class="notification {{.Context.MsgType}}" style="margin-bottom: 0; text-align: center;">{{.Context.Message}}</div>
                {{end}}
            {{end}}
        </div>
        <div class="row" style="text-align: center;">
                {{$i1 := 0}}
                {{range .Images}}
                    {{$i1 = inc $i1}}
                <div class="column" style="display: inline-block; float: none;">
                    <img data-src="download?s=g&id={{.ID}}" style="width:100%" src="/public/AFC.png"
                         onclick="openModal();currentSlide({{$i1}})" class="hover-shadow cursor lazy"
                         alt="{{if .Caption.Valid}}{{.Caption.String}}{{end}}">
                    {{if $priv}}
                        <a class="button is-danger" onclick="deleteImageModal({{.ID}})">Delete</a>
                    {{end}}
                </div>
                {{end}}
        </div>

        <div id="myModal" class="imageModal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="imageModal-content">
                {{$i2 := 0}}
                {{$lenOfImages := len .Images}}
                {{range .Images}}
                    {{$i2 = inc $i2}}
                    <div class="mySlides">
                        <div class="numbertext">{{$i2}} / {{$lenOfImages}}
                        </div>
                        <img data-src="download?s=g&id={{.ID}}" style="width:100%" class="lazy" src="/public/AFC.png" alt="{{if .Caption.Valid}}{{.Caption.String}}{{end}}">
                    </div>
                {{end}}

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                {{$i3 := 0}}
                {{range .Images}}
                    {{$i3 = inc $i3}}
                    <div class="column">
                        <img class="demo cursor lazy" data-src="download?s=g&id={{.ID}}" style="width:100%" src="/public/AFC.png"
                             onclick="currentSlide({{$i3}})" alt="{{if .Caption.Valid}}{{.Caption.String}}{{end}}">
                    </div>
                {{end}}
            </div>
        </div>
        <script>
            function openModal() {
                document.getElementById("myModal").style.display = "block";
                document.getElementById("navbarMain").style.display = "none";
            }

            function closeModal() {
                document.getElementById("myModal").style.display = "none";
                document.getElementById("navbarMain").style.display = "flex";
            }

            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("demo");
                let captionText = document.getElementById("caption");
                if (n > slides.length) {
                    slideIndex = 1
                }
                if (n < 1) {
                    slideIndex = slides.length
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                captionText.innerHTML = dots[slideIndex - 1].alt;
            }
        </script>
    </main>
    {{if $priv}}
        {{template "modal" .}}
    {{end}}
{{end}}

{{define "modal"}}
    <div id="addImageModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Add Image</p>
                            <p>Enter the image details below.</p>
                            <form id="addImageForm" enctype="multipart/form-data">
                                <div class="field">
                                    <label class="label" for="image">Image</label>
                                    <div class="file is-info has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" accept="image/*" name="upload"
                                                   id="addImageImage" onchange="previewImage(event)">
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                            <span class="file-label">Choose a file…</span>
                                        </span>
                                            <span class="file-name" id="addImageImageName">...</span>
                                        </label>
                                    </div>
                                    <label class="label" for="preview">Preview</label>
                                    <img id="preview" alt="/public/AFC.png"
                                         onerror="this.onerror=null;this.src='/public/AFC.png';"
                                         src="/public/AFC.png"
                                         style="border: 5px; max-height: 200px; max-width: 200px;">
                                </div>
                                <div class="field">
                                    <label class="label" for="caption">Caption</label>
                                    <div class="control">
                                        <input
                                                id="caption"
                                                class="input"
                                                type="text"
                                                name="caption"
                                                placeholder="Caption"
                                        />
                                    </div>
                                </div>
                                <a class="button is-info" onclick="addImage()" id="addImageButton">
                                    Add Image
                                </a>
                            </form>
                            <div id="errorParent" style="display: none">
                                <br><br>
                                <div class="notification is-danger" id="error"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="deleteImageModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title" id="deleteImageModalTitle"></p>
                            <p>Be careful! Are you sure you want to remove this?</p>
                            <form method="post" id="deleteImageModalForm">
                                <a class="button is-danger" onclick="deleteImage()">Delete Image</a>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        let addImageImage = $('#addImageImage')
        addImageImage.change(function () {
            $('#addImageImageName').text(addImageImage[0].files[0].name);
        });

        function previewImage(event) {
            let input = event.target;
            let image = document.getElementById('preview');
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function(e) {
                    image.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        let imageID = 0;

        function deleteImageModal(id) {
            imageID = id
            document.getElementById("deleteImageModal").classList.add("is-active");
            document.getElementById("deleteImageModalTitle").innerHTML = 'Are you sure you want to delete this image (' + id + ')?';
        }

        function deleteImage() {
            document.getElementById("deleteImageModalForm").action = "/image/" + imageID + "/delete";
            $('#deleteImageModalForm').submit();
        }

        function addImageModal() {
            document.getElementById("addImageImage").value = "";
            $('#addImageImageName').text("...");
            document.getElementById("preview").src = "/public/AFC.png";
            document.getElementById("addImageModal").classList.add("is-active");
        }

        function addImage() {
            document.getElementById("addImageButton").disabled = true;
            let form = $('#addImageForm')[0];

            // Create an FormData object
            let data = new FormData(form);
            $.ajax({
                url: '/image/add',
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    if (data.error.length > 0) {
                        $("#error").html(data.error);
                        document.getElementById("addImageButton").disabled = false;
                        document.getElementById("errorParent").style.display = null;
                    } else {
                        window.location.href = "/gallery";
                    }
                },
            })
        }
    </script>
{{end}}