{{define "title"}}Gallery{{end}}
{{define "header-style"}}
    <style>
        .row > .column {
            padding: 8px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .column {
            float: left;
            width: 25%;
        }

        /* The Modal (background) */
        .imageModal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: black;
        }

        /* Modal Content */
        .imageModal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            width: 90%;
            max-width: 1200px;
        }

        /* The Close Button */
        .close {
            color: white;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }

        .mySlides {
            display: none;
        }

        .cursor {
            cursor: pointer;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        .prev {
            left: 0;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #888;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        img {
            margin-bottom: -4px;
        }

        .caption-container {
            text-align: center;
            background-color: black;
            padding: 2px 16px;
            color: white;
        }

        .demo {
            opacity: 0.6;
        }

        .active,
        .demo:hover {
            opacity: 1;
        }

        img.hover-shadow {
            transition: 0.3s;
        }

        .hover-shadow:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .mySlides {
            background-color: black;
        }
    </style>
{{end}}
{{define "content"}}
    {{$priv := and (ne $.User.ID 0) (ne $.User.Role "Manager")}}
    <main class="main" style="box-sizing: border-box; text-align: center">
        <div class="pageHeaderBanner">
            <h2 class="pageHeader">
                Gallery</h2>
            {{if $priv}}
                <div style="margin: 15px 0 15px 0">
                    <a class="button is-info" onclick="addImageModal()">Add Image</a>
                </div>
                {{if .Context.Message}}
                    <div class="notification {{.Context.MsgType}}" style="margin-bottom: 0; text-align: center;">{{.Context.Message}}</div>
                {{end}}
            {{end}}
        </div>
        <div class="row" style="text-align: center;">
                {{$i1 := 0}}
                {{range .Images}}
                    {{$i1 = inc $i1}}
                <div class="column" style="display: inline-block; float: none;">
                    <img data-src="download?s=g&id={{.ID}}" style="width:100%"
                         onclick="openModal();currentSlide({{$i1}})" class="hover-shadow cursor lazy"
                         alt="{{if .Caption.Valid}}{{.Caption.String}}{{end}}">
{{/*                    <%if (user != null && user.getRole() != Role.MANAGER) {%>*/}}
{{/*                    <div class="button" id="container">*/}}
{{/*                        <div id="translate"></div>*/}}
{{/*                        <a href="deleteimage?id=<%=image.getId()%>">Delete</a>*/}}
{{/*                    </div>*/}}
{{/*                    <%}%>*/}}
                </div>
                {{end}}
        </div>

        <div id="myModal" class="imageModal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="imageModal-content">
                {{$i2 := 0}}
                {{$lenOfImages := len .Images}}
                {{range .Images}}
                    {{$i2 = inc $i2}}
                    <div class="mySlides">
                        <div class="numbertext">{{$i2}} / {{$lenOfImages}}
                        </div>
                        <img data-src="download?s=g&id={{.ID}}" style="width:100%" class="lazy" alt="{{if .Caption.Valid}}{{.Caption.String}}{{end}}">
                    </div>
                {{end}}

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                {{$i3 := 0}}
                {{range .Images}}
                    {{$i3 = inc $i3}}
                    <div class="column">
                        <img class="demo cursor lazy" data-src="download?s=g&id={{.ID}}" style="width:100%"
                             onclick="currentSlide({{$i3}})" alt="{{if .Caption.Valid}}{{.Caption.String}}{{end}}">
                    </div>
                {{end}}
                <p style="z-index: -1; opacity: 0; float: left; width: 96%;">AFC</p>
                <p style="z-index: -1; opacity: 0; float: left; width: 96%;">AFC</p>
            </div>
        </div>
        <script>
            function openModal() {
                document.getElementById("myModal").style.display = "block";
                document.getElementById("navbarMain").style.display = "none";
            }

            function closeModal() {
                document.getElementById("myModal").style.display = "none";
                document.getElementById("navbarMain").style.display = "flex";
            }

            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("demo");
                let captionText = document.getElementById("caption");
                if (n > slides.length) {
                    slideIndex = 1
                }
                if (n < 1) {
                    slideIndex = slides.length
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                captionText.innerHTML = dots[slideIndex - 1].alt;
            }
        </script>
    </main>
{{end}}