{{define "title"}}Users{{end}}
{{define "content"}}
    <style>
        .hCustom {
            text-decoration: underline;
            text-decoration-color: red;
            font-weight: bold;
            font-size: 1.5em;
            margin: 15px 0 15px 0;
            color: #1F1F1F;
        }
    </style>
    <main class="main" style="text-align: center; justify-content: center; align-content: center; align-items: center;">
        <div class="pageHeaderBanner">
            <h2 class="pageHeader">
                Info Editor
            </h2>
            {{if or (eq .User.Role "Club Secretary") (or (eq .User.Role "Chairperson") (eq .User.Role "Webmaster"))}}
                <p>If this is left blank or in draft status then there will be a default placeholder used</p>
            {{end}}
        </div>

        <div id="editor" class="pell"></div>
        <br>
        <a class="button is-info" onclick="submitInfoModal()">Submit content</a>
        <br>
        {{ template "pellOutput" }}
    </main>
    {{if or (eq .User.Role "Club Secretary") (or (eq .User.Role "Chairperson") (eq .User.Role "Webmaster"))}}
        {{template "modal" .}}
    {{end}}
{{end}}

{{define "modal"}}
    <div id="submitInfoModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Submit content</p>
                            <p>This change will be publicly visible, please ensure it is correct!</p>
                            <form id="submit-form" action="/info/edit" method="POST">
                                <input type="hidden" name="htmlContent" id="html-input">
                                <button class="button is-info" type="submit">Submit content</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        let htmlText = "{{.InfoContent}}";

        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        function submitInfoModal() {
            document.getElementById("submitInfoModal").classList.add("is-active");
        }

        document.getElementById("submit-form").addEventListener("submit", function (e) {
            if (!htmlText.trim()) {
                e.preventDefault();
                alert("Content cannot be empty.");
            }
        });
    </script>
    {{ template "pellLogic" }}
{{end}}