{{define "title"}}Programmes{{end}}
{{define "content"}}
    {{$priv := and (ne $.User.ID 0) (ne $.User.Role "Manager")}}
    <main class="main" style="text-align: center">
        <div class="pageHeaderBanner">
            <h2 class="pageHeader">
                Programmes</h2>
            <form method="post" action="/programmeselect">
                <div class="field">
                    <label class="label" for="seasonSelect">Select which season you want to see programmes for</label>
                    <div class="control has-icons-left select">
                        <select name="season" id="seasonSelect">
                            <option value="0" {{if eq .SelectedSeason 0}}selected{{end}}>All seasons</option>
                            {{range .Seasons}}
                                <option value="{{.ID}}" {{if eq $.SelectedSeason .ID}}selected{{end}}>
                                    {{.Season}}
                                </option>
                            {{end}}
                        </select>
                    </div>
                </div>
                <button class="button is-info">
                    Select
                </button>
            </form>
            {{if $priv}}
                <br><br>
                <div style="margin: 15px 0 15px 0">
                    <a class="button is-info" onclick="addProgrammeModal()">Add Programme</a>
                </div>
                <div style="margin: 15px 0 15px 0">
                    <a class="button is-info" onclick="addSeasonModal()">Add Season</a>
                </div>
                <div class="flexContainer">
                    {{range .Seasons}}
                        <div class="listItem" style="text-align: center; width: auto; height: auto; display: block;">
                            <p class="subtitle">
                                {{.Season}}</p>
                            <div style="margin: 15px 0 15px 0">
                                <a class="button is-warning" onclick="editSeasonModal({{.ID}}, '{{.Season}}')">Edit</a>
                            </div>
                            <div style="margin: 15px 0 15px 0">
                                <a class="button is-danger" onclick="deleteSeasonModal({{.ID}}, '{{.Season}}')">Delete</a>
                            </div>
                        </div>
                    {{end}}
                </div>
                {{if .Context.Message}}
                    <div class="notification {{.Context.MsgType}}" style="margin-bottom: 0; text-align: center;">{{.Context.Message}}</div>
                {{end}}
            {{end}}
        </div>
        {{if eq (len .Programmes) 0}}
            <div class="flexContainer">
                <div class="listItem" style="text-align: center; width: 85%; height: auto; cursor: pointer;">
                    <h2 class="title">No programmes are available
                    </h2>
                </div>
            </div>
        {{else}}
            {{with (index .Programmes 0)}}
                <div class="flexContainer">
                    <div class="listItem" style="text-align: center; width: 85%; height: auto; cursor: pointer;">
                        <h2 class="title">Latest programme - {{.Name}}
                        </h2><br>
                        <h2 class="subtitle">{{if .Season.IsValid}}Season - {{.Season.Name}}<br>{{end}}
                            Date of programme - {{.DateOfProgramme}}
                        </h2>
                        <object data="/download?s=p&id={{.ID}}" width="95%" height="600px" embedded="true"></object>
                        {{if $priv}}
                            <br><br><br>
                            <a class="button is-danger" onclick="deleteProgrammeModal({{.ID}}, '{{.Name}}')">Delete</a>
                        {{end}}
                    </div>
                </div>
            {{end}}
            {{if gt (len .Programmes) 1}}
                <div style="margin: 10px 0 10px 0; padding: 5px 0 5px 0;">
                    <h2 style="color: #1F1F1F" class="welcomeHeader">
                        Other Programmes</h2>
                </div>
                <div class="flexContainer">
                    {{$first := true}}
                    {{range .Programmes}}
                        {{if $first}}
                            {{$first = false}}
                        {{else}}
                            <div class="listItem"
                                 style="text-align: center; width: 275px; height: auto; cursor: pointer;"
                                 {{if not $priv}}onclick="location.href='/download?s=p&id={{.ID}}';"{{end}}>
                                {{if $priv}}<a href="/download?s=p&id={{.ID}}">{{end}}
                                    <p class="subtitle">{{.Name}}
                                    </p>
                                    <p>{{if .Season.IsValid}}Season - {{.Season.Name}}<br>{{end}}Date of programme
                                        - {{.DateOfProgramme}}<br><br>Click to download</p>
                                    {{if $priv}}</a>{{end}}
                                {{if $priv}}
                                    <br>
                                    <br>
                                    <a class="button is-danger" onclick="deleteProgrammeModal({{.ID}}, '{{.Name}}')"
                                       style="margin-bottom: 20px">Delete</a>
                                {{end}}
                            </div>
                        {{end}}
                    {{end}}
                </div>
            {{end}}
        {{end}}
    </main>
    {{if $priv}}
        {{template "modal" .}}
    {{end}}
{{end}}

{{define "modal"}}
    <div id="addProgrammeModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Add Programme</p>
                            <p>Enter the programme details below.</p>
                            <form id="addProgrammeForm" enctype="multipart/form-data">
                                <div class="field">
                                    <label class="label" for="name">Name</label>
                                    <div class="control">
                                        <input
                                                id="name"
                                                class="input"
                                                type="text"
                                                name="name"
                                                placeholder="Name"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="dateOfProgramme">Date of programme</label>
                                    <div class="control">
                                        <input
                                                type="date"
                                                id="dateOfProgramme"
                                                name="dateOfProgramme"
                                        />
                                    </div>
                                </div>
                                {{if gt (len .Seasons) 0}}
                                    <div class="field">
                                        <label class="label" for="programmeSeason">Programme Season</label>
                                        <div class="control has-icons-left select">
                                            <select form="add" name="programmeSeason" id="programmeSeason">
                                                <option id="programmeSeason" value="0">No season</option>
                                                {{range .Seasons}}
                                                    <option id="programmeSeason" value="{{.ID}}">
                                                        {{.Season}}
                                                    </option>
                                                {{end}}
                                            </select>
                                        </div>
                                    </div>
                                {{end}}
                                <div class="field">
                                    <label class="label" for="addProgrammeUpload">Programme</label>
                                    <div class="file is-info has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" accept="application/pdf" name="upload"
                                                   id="addProgrammeUpload">
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                            <span class="file-label">Choose a file…</span>
                                        </span>
                                            <span class="file-name" id="addProgrammeUploadName">...</span>
                                        </label>
                                    </div>
                                </div>
                                <a class="button is-info" onclick="addProgramme()" id="addProgrammeButton">
                                    Add Programme
                                </a>
                            </form>
                            <div id="programmeErrorParent" style="display: none">
                                <br><br>
                                <div class="notification is-danger" id="programmeError"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="addSeasonModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Add Season</p>
                            <p>Enter the season details below.</p>
                            <form id="addSeasonForm">
                                <div class="field">
                                    <label class="label" for="seasonName">Season</label>
                                    <div class="control">
                                        <input
                                                id="seasonName"
                                                class="input"
                                                type="text"
                                                name="season"
                                                placeholder="Season"
                                        />
                                    </div>
                                </div>
                                <a class="button is-info" onclick="addSeason()" id="addSeasonButton">
                                    Add Season
                                </a>
                            </form>
                            <div id="addSeasonErrorParent" style="display: none">
                                <br><br>
                                <div class="notification is-danger" id="addSeasonError"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="editSeasonModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title" id="editSeasonModalTitle"></p>
                            <p>Enter the team details below.<br>
                                Leave the values default to not edit a field.</p>
                            <form id="editSeasonForm">
                                <div class="field">
                                    <label class="label" for="editSeasonName">Season</label>
                                    <div class="control">
                                        <input
                                                id="editSeasonName"
                                                class="input"
                                                type="text"
                                                name="season"
                                                placeholder="Season"
                                        />
                                    </div>
                                </div>
                                <a class="button is-info" onclick="editSeason()" id="editSeasonButton">
                                    Edit Season
                                </a>
                            </form>
                            <div id="editSeasonErrorParent" style="display: none">
                                <br><br>
                                <div class="notification is-danger" id="editSeasonError"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="deleteProgrammeModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title" id="deleteProgrammeModalTitle"></p>
                            <p>Be careful! Are you sure you want to remove this?</p>
                            <form method="post" id="deleteProgrammeModalForm">
                                <a class="button is-danger" onclick="deleteProgramme()">Delete Programme</a>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="deleteSeasonModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title" id="deleteSeasonModalTitle"></p>
                            <p>Be careful! Are you sure you want to remove this?<br>
                                Any programmes assigned to this season will be reverted to no season. Please ensure this
                                is handled.</p>
                            <form method="post" id="deleteSeasonModalForm">
                                <a class="button is-danger" onclick="deleteSeason()">Delete Season</a>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        let addProgrammeUpload = $('#addProgrammeUpload')
        addProgrammeUpload.change(function () {
            $('#addProgrammeUploadName').text(addProgrammeUpload[0].files[0].name);
        });

        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        let programmeID = 0, deleteSeasonID = 0, editSeasonID = 0;

        function deleteProgrammeModal(id, name) {
            programmeID = id
            document.getElementById("deleteProgrammeModal").classList.add("is-active");
            document.getElementById("deleteProgrammeModalTitle").innerHTML = 'Are you sure you want to delete "' + name + '" from Programmes?';
        }

        function deleteProgramme() {
            document.getElementById("deleteProgrammeModalForm").action = "/programme/" + programmeID + "/delete";
            $('#deleteProgrammeModalForm').submit();
        }

        function deleteSeasonModal(id, name) {
            deleteSeasonID = id
            document.getElementById("deleteSeasonModal").classList.add("is-active");
            document.getElementById("deleteSeasonModalTitle").innerHTML = 'Are you sure you want to delete "' + name + '" from Seasons?';
        }

        function deleteSeason() {
            document.getElementById("deleteSeasonModalForm").action = "/season/" + deleteSeasonID + "/delete";
            $('#deleteSeasonModalForm').submit();
        }

        function addProgrammeModal() {
            let date = new Date();
            let day = date.getDate();
            let month = date.getMonth() + 1;
            let year = date.getFullYear();
            const options = {
                type: "date",
                // minDate: day + "/" + month + "/" + year,
                startDate: day + "/" + month + "/" + year,
                dateFormat: 'dd/MM/yyyy',
                showClearButton: false,
                showTodayButton: false,
                displayMode: "dialog",
                weekStart: 1
            }
            // Initialize all input of date type.
            const calendars = bulmaCalendar.attach('[type="date"]', options);

            // Loop on each calendar initialized
            calendars.forEach(calendar => {
                // Add listener to select event
                calendar.on('select', date => {
                    console.log(date);
                });
            });
            const elements = document.getElementsByClassName("datetimepicker-clear-button");
            while (elements.length > 0) {
                elements[0].parentNode.removeChild(elements[0]);
            }
            document.getElementById("addProgrammeModal").classList.add("is-active");
        }

        function addProgramme() {
            document.getElementById("addProgrammeButton").disabled = true;
            let form = $('#addProgrammeForm')[0];

            // Create an FormData object
            let data = new FormData(form);
            $.ajax({
                url: '/programme/add',
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    if (data.error.length > 0) {
                        $("#programmeError").html(data.error);
                        document.getElementById("programmeErrorParent").style.display = null;
                        document.getElementById("addProgrammeButton").disabled = false;
                    } else {
                        window.location.href = "/programmes";
                    }
                },
            })
        }

        function addSeasonModal() {
            document.getElementById("addSeasonModal").classList.add("is-active");
        }

        function addSeason() {
            document.getElementById("addSeasonButton").disabled = true;
            let form = $('#addSeasonForm')[0];

            // Create an FormData object
            let data = new FormData(form);
            $.ajax({
                url: '/season/add',
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    if (data.error.length > 0) {
                        $("#addSeasonError").html(data.error);
                        document.getElementById("addSeasonErrorParent").style.display = null;
                        document.getElementById("addSeasonButton").disabled = false;
                    } else {
                        window.location.href = "/programmes";
                    }
                },
            })
        }

        function editSeasonModal(id, name) {
            editSeasonID = id
            document.getElementById("editSeasonModal").classList.add("is-active");
            document.getElementById("editSeasonModalTitle").innerHTML = 'Edit season "' + name + '"?';
            document.getElementById("editSeasonName").value = name;
        }

        function editSeason() {
            document.getElementById("editSeasonButton").disabled = true;
            let form = $('#editSeasonForm')[0];

            // Create an FormData object
            let data = new FormData(form);
            $.ajax({
                url: '/season/' + editSeasonID + '/edit',
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    if (data.error.length > 0) {
                        $("#editSeasonError").html(data.error);
                        document.getElementById("editSeasonErrorParent").style.display = null;
                        document.getElementById("editSeasonButton").disabled = false;
                    } else {
                        window.location.href = "/programmes";
                    }
                },
            })
        }
    </script>
{{end}}