{{define "title"}}Team - {{ .Team.Name }}{{end}}
{{define "content"}}
    {{$priv := and (ne $.User.ID 0) (ne $.User.Role "Manager")}}
    <main class="main">
        <div class="pageHeaderBanner" style="text-align: center">
            <h2 class="pageHeader">
                {{.Team.Name}}</h2>
            {{if $priv}}
                <div style="margin: 15px 30px">
                    <a class="button is-warning" onclick="editTeamModal()">Edit Team</a>
                </div>
                <div style="margin: 15px 30px">
                    <a class="button is-danger" onclick="deleteTeamModal()">Delete Team</a>
                </div>
                {{if .Context.Message}}
                    <div class="notification {{.Context.MsgType}}"
                         style="margin-bottom: 0; text-align: center;">{{.Context.Message}}</div>
                {{end}}
            {{end}}
        </div>
        <div style="padding: 0 10px;">
            <div style="width: 100%; overflow: auto;">
                <div style="float:left; width: 50%">
                    {{if ne (len .Managers) 0}}
                        <h3 class="secondaryHeader">Team Manager(s)</h3>
                        {{range .Managers}}
                            {{.}}<br>
                        {{end}}<br>
                    {{end}}
                    <h3 class="secondaryHeader">Team Coach</h3>
                    {{if .Team.Coach.Valid}}{{.Team.Coach.String}}{{else}}Please contact us to add this information{{end}}
                    <br><br>
                    <h3 class="secondaryHeader">Physio</h3>
                    {{if .Team.Physio.Valid}}{{.Team.Physio.String}}{{else}}Ask the webmaster to add this information{{end}}
                    <br><br>
                    <h3 class="secondaryHeader">Training Location</h3>
                    Aldermaston Recreational Society<br><br>
                    {{if ge .Team.Ages 13}}
                        <h3 class="secondaryHeader">League</h3>
                        {{if .Team.League.Valid}}{{.Team.League.String}}{{else}}Ask the webmaster to add this information{{end}}
                        <br><br>
                        <h3 class="secondaryHeader">Division</h3>
                        {{if .Team.Division.Valid}}{{.Team.Division.String}}{{else}}Ask the webmaster to add this information{{end}}
                        <br><br>
                        {{if .Team.LeagueTable.Valid}}<h3 class="secondaryHeader">League Table</h3>
                        <a href="{{.Team.LeagueTable.String}}" target="_blank" style="text-decoration: underline;">League
                            Table</a><br><br>{{end}}
                        {{if .Team.Fixtures.Valid}}<h3 class="secondaryHeader">Fixtures</h3>
                        <a href="{{.Team.Fixtures.String}}" target="_blank"
                           style="text-decoration: underline;">Fixtures</a>
                        <br>
                        <br>{{end}}
                        {{if $priv}}
                            <h3 class="secondaryHeader">Only visible to AFC Staff</h3>
                            <h3 class="secondaryHeader">Is Active</h3>
                            {{.Team.IsActive}}
                            <br><br>
                            <h3 class="secondaryHeader">Is Youth</h3>
                            {{.Team.IsYouth}}
                            <br><br>
                            <h3 class="secondaryHeader">Ages</h3>
                            {{.Team.Ages}}
                            <br><br>
                        {{end}}
                    {{end}}
                </div>
                {{if .Team.FileName.Valid}}
                    <div style="float:right; text-align: right; width: 50%;">
                        <h2 class="secondaryHeader">Team photo</h2>
                        <img data-src="/download?s=t&id={{.Team.ID}}&r={{randomImgInt}}"
                             alt="/public/AFC.png" src="/public/AFC.png"
                             onerror="this.onerror=null;this.src='/public/AFC.png';"
                             style="padding: 5px; max-height: 1000px; max-width: 700px; width: 100%;" class="lazy">
                    </div>
                {{end}}
            </div>
            <br>
            {{if ne (len .Sponsors) 0}}
                <div style="margin: 10px 0 10px 0; padding: 5px 0 5px 0; text-align: center">
                    <h2 style="color: #1F1F1F" class="welcomeHeader">
                        {{.Team.Name}} Sponsors</h2>
                </div>
                <div class="flexContainer">
                    {{range .Sponsors}}
                        <div class="listItem" style="display: block; cursor: pointer">
                            {{if .Website.Valid}}<a href="{{.Website.String}}">{{end}}
                                <img data-src="/download?s=s&id={{.ID}}" alt="/public/AFC.png"
                                     onerror="this.onerror=null;this.src='/public/AFC.png';"
                                     class="latestImage lazy" src="/public/AFC.png">
                                <h2 class="latestTitle">{{.Name}}</h2>
                                <p style="text-align: left; padding: 10px 10px 10px 0; color: #1F1F1F">{{.Purpose}}
                                </p>
                                {{if .Website.Valid}}</a>{{end}}
                        </div>
                    {{end}}
                </div>
            {{end}}
            {{if and (not .Team.IsYouth) (ne (len .Players) 0)}}
            <div style="margin: 10px 0 10px 0; padding: 5px 0 5px 0; text-align: center">
                <h2 style="color: #1F1F1F" class="welcomeHeader">
                    {{.Team.Name}} Players</h2>
            </div>
            <div class="flexContainer">
                {{range .Players}}
                    <div class="listItem" style="display: block; cursor: pointer">
                        <img data-src="/download?s=l&id={{.ID}}" alt="/public/AFC.png"
                             onerror="this.onerror=null;this.src='/public/AFC.png';"
                             class="latestImage lazy" src="/public/AFC.png">
                        <h2 class="latestTitle">{{.Name}}</h2>
                        <p style="text-align: left; padding: 10px 10px 10px 0; color: #1F1F1F">{{if .Position.Valid}}{{.Position.String}}
                            {{if .IsCaptain}}<br>Captain{{end}}{{else}}
                                {{if .IsCaptain}}Captain{{end}}{{end}}
                        </p>
                    </div>
                {{end}}
            </div>
        </div>
        {{end}}
    </main>
    {{if $priv}}
        {{template "modal" .}}
    {{end}}
{{end}}

{{define "modal"}}
    <div id="editTeamModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Edit Team</p>
                            <p>Enter the team details below.<br>
                                Leave the values default to not edit a field.</p>
                            <form id="editTeamForm" enctype="multipart/form-data">
                                <div class="field">
                                    <label class="label" for="name">Name</label>
                                    <div class="control">
                                        <input
                                                id="name"
                                                class="input"
                                                type="text"
                                                name="name"
                                                placeholder="Name"
                                                value="{{.Team.Name}}"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="league">League (leave blank if unknown)</label>
                                    <div class="control">
                                        <input
                                                id="league"
                                                class="input"
                                                type="text"
                                                name="league"
                                                placeholder="League"
                                                {{if .Team.League.Valid}}value="{{.Team.League.String}}"{{end}}
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="division">Division (leave blank if unknown)</label>
                                    <div class="control">
                                        <input
                                                id="division"
                                                class="input"
                                                type="text"
                                                name="division"
                                                placeholder="Division"
                                                {{if .Team.Division.Valid}}value="{{.Team.Division.String}}"{{end}}
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="leagueTable">League Table (url, leave blank if unknown)</label>
                                    <div class="control">
                                        <input
                                                id="leagueTable"
                                                class="input"
                                                type="url"
                                                name="leagueTable"
                                                placeholder="https://..."
                                                {{if .Team.LeagueTable.Valid}}value="{{.Team.LeagueTable.String}}"{{end}}
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="fixtures">Fixtures (url, leave blank if unknown)</label>
                                    <div class="control">
                                        <input
                                                id="fixtures"
                                                class="input"
                                                type="url"
                                                name="fixtures"
                                                placeholder="https://..."
                                                {{if .Team.Fixtures.Valid}}value="{{.Team.Fixtures.String}}"{{end}}
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="coach">Coach (leave blank if unknown)</label>
                                    <div class="control">
                                        <input
                                                id="coach"
                                                class="input"
                                                type="text"
                                                name="coach"
                                                placeholder="Coach"
                                                {{if .Team.Coach.Valid}}value="{{.Team.Coach.String}}"{{end}}
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="physio">Physio (leave blank if unknown)</label>
                                    <div class="control">
                                        <input
                                                id="physio"
                                                class="input"
                                                type="text"
                                                name="physio"
                                                placeholder="Physio"
                                                {{if .Team.Physio.Valid}}value="{{.Team.Physio.String}}"{{end}}
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Manager assigned via Users</label>
                                </div>
                                <div class="field">
                                    <label class="label" for="addTeamImage">Team Photo</label>
                                    <div class="file is-info has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" accept="image/*" name="upload"
                                                   id="addTeamImage">
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                            <span class="file-label">Choose a file…</span>
                                        </span>
                                            <span class="file-name" id="addTeamImageName">{{if .Team.FileName.Valid}}Uploaded{{else}}No file{{end}}</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="isActive">Is active team?</label>
                                    <div class="control">
                                        <input type="checkbox" id="isActive" name="isActive" value="Y"{{if .Team.IsActive}} checked{{end}}>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="isYouth">Is youth team?</label>
                                    <div class="control">
                                        <input type="checkbox" id="isYouth" name="isYouth" value="Y"{{if .Team.IsYouth}} checked{{end}}>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="ages">Team</label>
                                    <div class="control has-icons-left select">
                                        <select name="ages" id="ages">
                                            <option disabled selected>Please select</option>
                                            <option value="6"{{if eq .Team.Ages 6}} selected{{end}}>&lt;6</option>
                                            <option value="7"{{if eq .Team.Ages 7}} selected{{end}}>&lt;7</option>
                                            <option value="8"{{if eq .Team.Ages 8}} selected{{end}}>&lt;8</option>
                                            <option value="9"{{if eq .Team.Ages 9}} selected{{end}}>&lt;9</option>
                                            <option value="10"{{if eq .Team.Ages 10}} selected{{end}}>&lt;10</option>
                                            <option value="11"{{if eq .Team.Ages 11}} selected{{end}}>&lt;11</option>
                                            <option value="12"{{if eq .Team.Ages 12}} selected{{end}}>&lt;12</option>
                                            <option value="13"{{if eq .Team.Ages 13}} selected{{end}}>&lt;13</option>
                                            <option value="14"{{if eq .Team.Ages 14}} selected{{end}}>&lt;14</option>
                                            <option value="15"{{if eq .Team.Ages 15}} selected{{end}}>&lt;15</option>
                                            <option value="16"{{if eq .Team.Ages 16}} selected{{end}}>&lt;16</option>
                                            <option value="17"{{if eq .Team.Ages 17}} selected{{end}}>&lt;17</option>
                                            <option value="18"{{if eq .Team.Ages 18}} selected{{end}}>&lt;18</option>
                                            <option value="19"{{if eq .Team.Ages 19}} selected{{end}}>&gt;18</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <a class="button is-warning" onclick="editTeam()" id="editTeamButton">
                                    Edit Team
                                </a>
                            </form>
                            <div id="errorParent" style="display: none">
                                <br><br>
                                <div class="notification is-danger" id="error"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="deleteTeamModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title" id="deleteTeamModalTitle">Are you sure you want to delete "{{.Team.Name}}"
                                from Teams?</p>
                            <p>Be careful! Are you sure you want to remove this?<br>
                            Any managers, players or sponsors assigned to this team will be reverted to no team. Please ensure this is handled.</p>
                            <form method="post" id="deleteTeamModalForm" action="/team/{{.Team.ID}}/delete">
                                <a class="button is-danger" onclick="deleteTeam()">Delete Team</a>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        function editTeamModal() {
            document.getElementById("editTeamModal").classList.add("is-active");
        }

        function deleteTeamModal() {
            document.getElementById("deleteTeamModal").classList.add("is-active");
        }

        function deleteTeam() {
            $('#deleteTeamModalForm').submit();
        }

        function editPlayer() {
            document.getElementById("errorParent").style.display = 'none';
            document.getElementById("editTeamButton").disabled = true;
            let form = $('#editTeamForm')[0];

            // Create an FormData object
            let data = new FormData(form);
            $.ajax({
                url: '/team/{{.Team.ID}}/edit',
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    if (data.error.length > 0) {
                        $("#error").html(data.error);
                        document.getElementById("errorParent").style.display = null;
                        document.getElementById("editTeamButton").disabled = false;
                    } else {
                        window.location.href = "/team/{{.Team.ID}}";
                    }
                },
            })
        }
    </script>
{{end}}