{{define "title"}}Users{{end}}
{{define "content"}}
    <main class="main" style="text-align: center; justify-content: center; align-content: center; align-items: center;">
        <div class="pageHeaderBanner">
            <h2 class="pageHeader">
                Users
            </h2>
            {{if or (eq .User.Role "Club Secretary") (or (eq .User.Role "Chairperson") (eq .User.Role "Webmaster"))}}
                <div style="margin: 15px 0 15px 0">
                    <a class="button is-info" onclick="addUserModal()">Add User</a>
                </div>
            {{end}}
        </div>

        <table style="align-items: center; display: inline-flex; border-radius: 5px;
        box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);" class="table is-striped">
            <tr>
                {{if eq .User.Role "Webmaster"}}
                    <th>ID</th>{{end}}
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Team</th>
                <th>Role</th>
                <th>Image</th>
                {{if or (eq .User.Role "Club Secretary") (or (eq .User.Role "Chairperson") (eq .User.Role "Webmaster"))}}
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Reset password</th>
                {{end}}
            </tr>
            {{range .Users}}
                <tr{{if eq $.User.ID .ID}} class="is-selected"{{end}}>
                    {{if eq $.User.Role "Webmaster"}}
                        <th>{{.ID}}
                        </th>{{end}}
                    <th>{{.Name}}
                    </th>
                    <th>{{.Email}}
                    </th>
                    <th>{{.Phone}}
                    </th>
                    {{$team := ""}}
                    {{if ne .TeamID 0}}
                        {{$team = getTeamName .TeamID}}
                    {{else}}
                        {{$team = "Not Related to team"}}
                    {{end}}
                    <th>{{$team}}
                    </th>
                    <th>{{.Role}}
                    </th>
                    <th><img data-src="/download?s=u&id={{.ID}}" alt="/public/AFC.png"
                             onerror="this.onerror=null;this.src='/public/AFC.png';"
                             src="/public/AFC.png"
                             style="border: 5px; max-height: 200px; max-width: 200px;" class="lazy"></th>
                    {{if or (and (eq .Role "Webmaster") (eq $.User.Role "Webmaster")) (and (or (or (eq $.User.Role "Secretary") (eq $.User.Role "Chairperson")) (eq $.User.Role "Webmaster")) (ne .Role "Webmaster"))}}
                        {{/*                    {{if or (and (or (eq $.User.Role "Secretary") (eq $.User.Role "Chairperson")) (eq .Role "Webmaster")) (eq $.User.Role "Webmaster")}}*/}}
                        <th>
                            <a class="button is-warning" onclick="editUserModal()">Edit</a>
                        </th>
                        <th>
                            <a class="button is-danger" onclick="deleteUserModal({{.ID}}, {{.Name}})">Delete</a>
                        </th>
                        <th>
                            <a class="button is-warning" onclick="resetPasswordModal()">Reset password</a>
                        </th>
                    {{end}}
                </tr>
            {{end}}
        </table>
    </main>
    {{if or (eq .User.Role "Club Secretary") (or (eq .User.Role "Chairperson") (eq .User.Role "Webmaster"))}}
        {{template "modal" .}}
    {{end}}
{{end}}

{{define "modal"}}
    <div id="deleteUserModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title" id="deleteUserModalTitle"></p>
                            <p>Be careful! Are you sure you want to remove them?</p>
                            <form method="post" id="deleteUserModalForm">
                                <a class="button is-danger" onclick="deleteUser()">Delete User</a>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        let editUserID = 0, deleteUserID = 0, resetPasswordUserID = 0;

        function deleteUserModal(id, name) {
            deleteUserID = id
            document.getElementById("deleteUserModal").classList.add("is-active");
            document.getElementById("deleteUserModalTitle").innerHTML = 'Are you sure you want to delete "' + name + '" from Users?';
        }

        function deleteUser() {
            document.getElementById("deleteUserModalForm").action = "/user/" + deleteUserID + "/delete";
            $('#deleteUserModalForm').submit();
        }
{{end}}