{{define "title"}}What's On{{end}}
{{define "content"}}
    {{$priv := and (ne $.User.ID 0) (ne $.User.Role "Manager")}}
    <main class="main" style="text-align: center;">
        <div class="pageHeaderBanner">
            <h2 class="pageHeader">
                What's On</h2>
            <h3 class="secondaryHeader">
                You are currently viewing {{.TimePeriod}}
            </h3>
            <form method="post" action="/whatsonselect">
                <div class="field">
                    <label class="label" for="timePeriod">Select which what's on articles you want to see</label>
                    <div class="control has-icons-left select">
                        <select name="timePeriod" id="timePeriod">
                            <option value="all" {{if eq .Selected "all"}}selected{{end}}>All articles</option>
                            <option value="future" {{if eq .Selected "future"}}selected{{end}}>Future articles</option>
                            <option value="past" {{if eq .Selected "past"}}selected{{end}}>Past articles</option>
                        </select>
                    </div>
                </div>
                <button class="button is-info">
                    Select
                </button>
            </form>
            {{if $priv}}
                <div style="margin: 15px 0 15px 0">
                    <a class="button is-info" onclick="addWhatsOnModal()">Add What's On</a>
                </div>
                {{if .Context.Message}}
                    <div class="notification {{.Context.MsgType}}"
                         style="margin-bottom: 0; text-align: center;">{{.Context.Message}}</div>
                {{end}}
            {{end}}
        </div>
        {{if eq (len .WhatsOn) 0}}
            <div class="flexContainer">
                <div class="listItem" style="text-align: center; width: 85%; height: auto; cursor: pointer;">
                    <h2 class="title">No articles are available
                    </h2>
                </div>
            </div>
        {{else}}
            <div class="flexContainer">
                {{range .WhatsOn}}
                    <div class="listItem" style="display: block; cursor: pointer;"
                         onclick="location.href='/whatson/{{.ID}}';">
                        <img data-src="/download?s=w&id={{.ID}}&r={{randomImgInt}}" alt="/public/AFC.png"
                             onerror="this.onerror=null;this.src='/public/AFC.png';"
                             class="latestImage lazy" src="/public/AFC.png">
                        <h2 class="latestTitle">{{.Title}}</h2>
                        <p style="text-align: left; padding: 10px 10px 10px 0;">{{.Date}}<br><br>
                            Date of Event<br>{{.DateOfEvent}}
                        </p>
                    </div>
                {{end}}
            </div>
        {{end}}
    </main>
    {{if $priv}}
        {{template "modal" .}}
    {{end}}
{{end}}

{{define "modal"}}
    <div id="addWhatsOnModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Add What's On</p>
                            <p>Enter the what's on details below.</p>
                            <form id="addWhatsOnForm" enctype="multipart/form-data">
                                <div class="field">
                                    <label class="label" for="title">Title</label>
                                    <div class="control">
                                        <input
                                                id="title"
                                                class="input"
                                                type="text"
                                                name="title"
                                                placeholder="Title"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="content">Content</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Content..." rows="10" id="content"
                                                  name="content"></textarea>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="image">Image (leave blank for the AFC logo)</label>
                                    <div class="file is-info has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" accept="image/*" name="upload"
                                                   id="addWhatsOnUpload" onchange="previewImage(event)">
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                            <span class="file-label">Choose a file…</span>
                                        </span>
                                            <span class="file-name" id="addWhatsOnUploadName">...</span>
                                        </label>
                                    </div>
                                    <label class="label" for="preview">Preview</label>
                                    <img id="preview" alt="/public/AFC.png"
                                         onerror="this.onerror=null;this.src='/public/AFC.png';"
                                         src="/public/AFC.png"
                                         style="border: 5px; max-height: 200px; max-width: 200px;">
                                </div>
                                <div class="field">
                                    <label class="label" for="dateOfEvent">Date of event</label>
                                    <div class="control">
                                        <input
                                                type="date"
                                                id="dateOfEvent"
                                                name="dateOfEvent"
                                        />
                                    </div>
                                </div>
                                <a class="button is-info" onclick="addWhatsOn()" id="addWhatsOnButton">
                                    Add What's On
                                </a>
                            </form>
                            <div id="errorParent" style="display: none">
                                <br><br>
                                <div class="notification is-danger" id="error"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        let addWhatsOnUpload = $('#addWhatsOnUpload')
        addWhatsOnUpload.change(function () {
            $('#addWhatsOnUploadName').text(addWhatsOnUpload[0].files[0].name);
        });

        function previewImage(event) {
            let input = event.target;
            let image = document.getElementById('preview');
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    image.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        function addWhatsOnModal() {
            let date = new Date();
            let day = date.getDate();
            let month = date.getMonth() + 1;
            let year = date.getFullYear();
            const options = {
                type: "date",
                minDate: day + "/" + month + "/" + year,
                startDate: day + "/" + month + "/" + year,
                dateFormat: 'dd/MM/yyyy',
                showClearButton: false,
                showTodayButton: false,
                displayMode: "dialog",
                weekStart: 1
            }
            // Initialise all inputs of date type.
            const calendars = bulmaCalendar.attach('[type="date"]', options);

            // Loop on each calendar initialised
            calendars.forEach(calendar => {
                // Add listener to select event
                calendar.on('select', date => {
                    console.log(date);
                });
            });
            const elements = document.getElementsByClassName("datetimepicker-clear-button");
            while (elements.length > 0) {
                elements[0].parentNode.removeChild(elements[0]);
            }
            document.getElementById("addWhatsOnModal").classList.add("is-active");
        }

        function addWhatsOn() {
            document.getElementById("errorParent").style.display = 'none';
            document.getElementById("addWhatsOnButton").disabled = true;
            let form = $('#addWhatsOnForm')[0];

            // Create an FormData object
            let data = new FormData(form);
            $.ajax({
                url: '/whatson/add',
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    if (data.error.length > 0) {
                        $("#error").html(data.error);
                        document.getElementById("addWhatsOnButton").disabled = false;
                        document.getElementById("errorParent").style.display = null;
                    } else {
                        window.location.href = "/whatson";
                    }
                },
            })
        }
    </script>
{{end}}