{{define "title"}}What's On{{end}}
{{define "content"}}
    {{$priv := and (ne $.User.ID 0) (ne $.User.Role "Manager")}}
    <main class="main" style="text-align: center;">
        <div style="background-color: white; margin: 10px 0 10px 0; padding: 5px 0 5px 0;">
            <h2 style="color: #1F1F1F" class="welcomeHeader">
                What's On</h2>
        </div>
        <div class="flexContainer">
            {{range .WhatsOn}}
                <div class="listItem" style="display: block; cursor: pointer;"
                     onclick="location.href='/whatson/{{.ID}}';">
                    <img data-src="/download?s=w&id={{.ID}}" alt="/public/AFC.png"
                         onerror="this.onerror=null;this.src='/public/AFC.png';"
                         class="latestImage lazy" src="/public/AFC.png">
                    <h2 class="latestTitle">{{.Title}}</h2>
                    <p style="text-align: left; padding: 10px 10px 10px 0;">{{.Date}}<br><br>
                        Date of Event - {{.DateOfEvent}}
                    </p>
                </div>
            {{end}}
        </div>
        {{if $priv}}
            <a class="button is-info" onclick="addWhatsOnModal()"
               style="text-align: center; margin-bottom: 30px">Add What's On</a>
        {{end}}
    </main>
    {{if $priv}}
        {{template "modal" .}}
    {{end}}
{{end}}

{{define "modal"}}
    <div id="addWhatsOnModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title">Add What's On</p>
                            <p>Enter the news details below.</p>
                            <form id="addWhatsOnForm" enctype="multipart/form-data">
                                <div class="field">
                                    <label class="label" for="title">Title</label>
                                    <div class="control">
                                        <input
                                                id="title"
                                                class="input"
                                                type="text"
                                                name="title"
                                                placeholder="title"
                                        />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="content">Content</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Content..." rows="10" id="content" name="content"></textarea>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="image">Image (leave blank for the AFC logo)</label>
                                    <div class="file is-info has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" accept="image/*" name="upload"
                                                   id="addWhatsOnUpload">
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                            <span class="file-label">Choose a file…</span>
                                        </span>
                                            <span class="file-name" id="addWhatsOnUploadName">...</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="expiry">Date of event</label>
                                    <div class="control">
                                        <input
                                                type="date"
                                                id="dateOfEvent"
                                                name="dateOfEvent"
                                        />
                                    </div>
                                </div>
                                <button class="button is-info" onclick="addWhatsOn()" id="addWhatsOnButton">
                                    Add What's On
                                </button>
                            </form>
                            <div id="errorParent" style="display: none">
                                <br><br>
                                <div class="notification is-danger" id="error"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="deleteWhatsOnModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title" id="deleteWhatsOnModalTitle"></p>
                            <p>Be careful! Are you sure you want to remove this?</p>
                            <form method="post" id="deleteWhatsOnModalForm">
                                <a class="button is-danger" onclick="deleteWhatsOn()">Delete What's On</a>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script>
        let addWhatsOnUpload = $('#addWhatsOnUpload')
        addWhatsOnUpload.change(function () {
            $('#addWhatsOnUploadName').text(addWhatsOnUpload[0].files[0].name);
        });

        document.querySelectorAll(
            ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
        ).forEach(($el) => {
            const $modal = $el.closest(".modal");
            $el.addEventListener("click", () => {
                $modal.classList.remove("is-active");
            });
        });

        let whatsOnID = 0;

        function deleteWhatsOnModal(id, name) {
            whatsOnID = id
            document.getElementById("deleteWhatsOnModal").classList.add("is-active");
            document.getElementById("deleteWhatsOnModalTitle").innerHTML = 'Are you sure you want to delete "' + name + '" from What\'s On?';
        }

        function deleteWhatsOn() {
            document.getElementById("deleteWhatsOnModalForm").action = "/whatson/" + whatsOnID + "/delete";
            $('#deleteWhatsOnModalForm').submit();
        }

        function addWhatsOnModal() {
            let date = new Date();
            let day = date.getDate();
            let month = date.getMonth() + 1;
            let year = date.getFullYear();
            const options = {
                type: "date",
                minDate: day + "/" + month + "/" + year,
                startDate: day + "/" + month + "/" + year,
                dateFormat: 'dd/MM/yyyy',
                showClearButton: false,
                showTodayButton: false,
                displayMode: "dialog",
                weekStart: 1
            }
            // Initialize all input of date type.
            const calendars = bulmaCalendar.attach('[type="date"]', options);

            // Loop on each calendar initialized
            calendars.forEach(calendar => {
                // Add listener to select event
                calendar.on('select', date => {
                    console.log(date);
                });
            });
            const elements = document.getElementsByClassName("datetimepicker-clear-button");
            while(elements.length > 0){
                elements[0].parentNode.removeChild(elements[0]);
            }
            document.getElementById("addWhatsOnModal").classList.add("is-active");
        }

        function addWhatsOn() {
            document.getElementById("addWhatsOnButton").disabled = true;
            let form = $('#addWhatsOnForm')[0];

            // Create an FormData object
            let data = new FormData(form);
            $.ajax({
                url: '/whatson/add',
                type: 'post',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    if (data.error.length > 0) {
                        $("#error").html(data.error);
                        document.getElementById("errorParent").style.display = null;
                    } else {
                        window.location.href = "/whatson";
                    }
                },
            })
        }
    </script>
{{end}}